hr {
  background-color: yellowgreen;
  width: 50%;
  height:5px;
}
pre {
  font-family: "Papyrus", fantasy;
}
h3 {
  background-color: lightblue;
}
dl {
  font-size: 20px;
}
.photo {
  border-style: solid;
  border-radius: 8px;
}
#squiggle {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}
.font {
  font-family: sans-serif;
}
.color {
  background-color: lightgrey;
  background-size: contain;
  display: inline-flex;
}
.whitefont {
  background-color: white;
}
.biography {
  border: 5px outset lightgrey;
  background-color: linen;
}
.contact {
  border: 5px outset lightgrey;
  background-color: linen;
  text-align: right;
}
.right {
  position: absolute;
  right: 50px;
  height: 500px;
  weight: 500px;
}
.tablesize {
  width: 220%;
  border-collapse: collapse;
}
.projectlist {
  background-color: whitesmoke;
  color: black;
  font-size: 20px;
  font-family: sans-serif;
}
.left {
  position: absolute;
  left: 0px;
  height: 601px;
  weight: 300px;
}
