hr {
  background-color: yellowgreen;
  width: 50%;
  height:5px;
}
pre {
  font-family: "Papyrus", fantasy;
}
h3 {
  background-color: lightblue;
}
dl {
  font-size: 20px;
}
figure {
  border: 5px outset lightgrey;
  background-color: linen;
  color:blue;
}
.photo {
  border-style: solid;
  border-radius: 8px;
}
#squiggle {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}
.font {
  font-family: sans-serif;
}
.color {
  background-color: lightgrey;
  background-size: contain;
  display: inline-flex;
}
.whitefont {
  background-color: white;
}
.biography {
  border: 5px outset lightgrey;
  background-color: linen;
}
.contact {
  border: 5px outset lightgrey;
  background-color: linen;
  text-align: center;
}
.right {
  position: absolute;
  right: 50px;
  height: 550px;
  weight: 550px;
}
.tablesize {
  width: 50%;
  border-collapse: collapse;
}
.projectlist {
  background-color: whitesmoke;
  color: black;
  font-size: 20px;
  font-family: sans-serif;
}
.left {
  position: absolute;
  left: 45px;
  height: 601px;
}
.borderporfolio {
  border: 5px outset lightgrey;
  background-color: linen;
}
.tb {
  border: 5px solid blue;
  border-radius: 12px;
  padding: 15px;
}
